{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "parser": "flow",
  "semi": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
