# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend
node_modules
coverage
lib
dist

# Backend
*.class
*.log
.bloop
.history
.metals
.bsp
metals.sbt

# Misc
.idea
.DS_Store
.env
.npmrc
target/
backend/.vscode
